.sidebar__wrapper {
  max-width: 15%;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  column-gap: 10px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: auto;
}

.sidebar__button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
}

.sidebar__button {
  cursor: pointer;
  background: none;
  opacity: 100%;
  transition: opacity 0.5s;
  font-weight: 90;
  border-width: 0;
  border-style: none;
}

.sidebar__button:hover {
  opacity: 60%;
}
